
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
   color: #2E3F51;
  font-family: 'Lora', serif;
}
.wrapper {
  width: 100%;
}

.header {
  width: 100%;
  background-color: rgb(101, 27, 5);
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 4rem;
  font-size: 4rem;
  color: white;
  font-family: 'Roboto Slab', serif;
  margin-bottom: 2rem;

}
form {
 margin: 0 auto;
  border: 2px dashed rgb(101, 27, 5);
  width: 35%;
  padding: 2rem;
  box-sizing: border-box;
}
label {
  font-weight: 500;
  font-size:1.3rem;
  margin-right:1.5rem;
}
 .fas {
  font-size: 1rem;
  margin-right: .4rem;
}

input {
  margin: .8rem 2rem 2rem 0;
  font-size: 1.1rem;
  border: none;
  border-bottom: 1px solid #ccc;
   width: 20%;
}

 input::placeholder {
  color: #c1c1c1;
 }

 input:focus {
  outline:none;
}
 select {
  margin:.8rem 2rem 2rem 0;
  border:1px solid #2E3F51;
  background-color: #fff;
  font-weight: 600;
  font-size: 1rem;
  color: rgb(74, 105, 34);
  font-family: 'Lora', serif;
}

.buttonSpace {
  margin-top: 1rem;
  width: 100%;
  text-align: center;
}
.submitBtn{
  background-color: rgb(91, 104, 73);
}

.resetBtn{
 background-color: rgb(112, 81, 72);
}
.buttonSpace button {
  margin-top: .6rem;
  border-radius: 10px;
  display: inline-block;
  padding: .5rem 4rem;
  font-family: 'Lora', serif;
  font-size: 1.2rem;
  color: rgb(245, 248, 240);
}

fieldset {
    display: block;
    margin-inline-start: 2px;
    margin-inline-end: 2px;
    padding-block-start: 0.35em;
    padding-inline-start: 0.75em;
    padding-inline-end: 0.75em;
    padding-block-end: 0.625em;
    min-inline-size: min-content;
    border:none;
    background-color: rgb(196, 244, 255);
}


.errlist{
 background-color: rgb(252, 222, 222);
 text-align: center;
 margin-top: 1rem;
 margin-bottom: 1rem;

}



