

input[name=searchTerms] {
    width: 300px;
    margin: auto;
}

label {
    text-align: center;
}

.results {
    margin-top: 20px;
}

.results ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 16px;
    list-style-type: none;

}

li.card_items {
  height: 240 px;
  border-radius: 12px;
   background-color:white;
    margin-top: 1em;

 }

div.card_content {

 margin-top: 0;
 padding: 1em;

}


label[for='title'] {
    margin-right: 10px;
}






