/*
.content-wrapper {
border: 1px solid purple;
margin: 0 auto;
padding: 1em;
max-width: 1400px;
display: flex;
flex-basis: 90%;
justify-content: center;
flex-wrap: wrap;
}
 h1 {
display:block;
}


.main {
 display: flex;
 flex-direction: row;
  margin: 1rem auto;
  height: 100px;
  width: 100px;
  color: #FFFFFF;
  text-align: center;
  text-transform: uppercase;
  line-height: 150px;
} */
/* .card {
  border-radius: 10px;
  width: 25%;
  max-width: 250px;

} */
/* figure img{
  border-radius: 10px;
  width: 100%;
  max-width: 250px;
} */




