/* div.container{
max-width: 1440px;
} */

/* @media (min-width: 1200px)
.container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1440px;
} */
/* @media (min-width: 1200px)
.container-xl, .container-lg, .container-md, .container-sm, .container
{
    max-width: 1440px;
}
@media (min-width: 992px)
.container-lg, .container-md, .container-sm, .container
{
    max-width: 960px;
}
@media (min-width: 768px)
.container-md, .container-sm, .container
{
    max-width: 720px;
}
@media (min-width: 576px)
.container-sm, .container
{
    max-width: 540px;
}
@media (min-width: 1200px)
.container
{
    max-width: 1140px;
}

@media (min-width: 992px)
.container
{
    max-width: 960px;
}
@media (min-width: 768px)
.container
{
    max-width: 720px;
}
@media (min-width: 576px)
.container {
    max-width: 540px;
} */
/* .container {
    width: 1080px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
} */

.flash-alert {
    background-color: yellow;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 5px;
    font-weight: bold;
    text-align: center;
}

.btn-sml {
    padding: 8px 8px;
    font-size: 14px;
    border-radius: 5px;
}

table {
  border-collapse: collapse;
}

/* td, th {
  /* border: 1px solid #999; */
  /* padding: 0.5rem;
  text-align: left;

vertical-align: middle;
}  */

/* table {
  border-collapse: collapse;
}
th,
td {
  border: 1px solid #c6c7cc;
  padding: 10px 15px;
}
th {
  font-weight: bold;
} */
table {
  border-collapse: separate;
  border-spacing: 0;
  color: #4a4a4d;
  font: 14px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
}
th,
td {
  padding: 10px 15px;
  vertical-align: middle;
}
thead {
  background: #395870;
  background: linear-gradient(#49708f, #293f50);
  color: #fff;
  font-size: 11px;
  text-transform: uppercase;
}
th:first-child {
  border-top-left-radius: 5px;
  text-align: left;
}
th:last-child {
  border-top-right-radius: 5px;
}
tbody tr:nth-child(even) {
  background: #f0f0f2;
}
td {
  border-bottom: 1px solid #cecfd5;
  border-right: 1px solid #cecfd5;
}
td:first-child {
  border-left: 1px solid #cecfd5;
}
.book-title {
  color: #395870;
  display: block;
}
.text-offset {
  color: #7c7c80;
  font-size: 12px;
}
.item-stock,
.item-qty {
  text-align: center;
}
.item-price {
  text-align: right;
}
.item-multiple {
  display: block;
}
tfoot {
  text-align: right;
}
tfoot tr:last-child {
  background: #f0f0f2;
  color: #395870;
  font-weight: bold;
}
tfoot tr:last-child td:first-child {
  border-bottom-left-radius: 5px;
}
tfoot tr:last-child td:last-child {
  border-bottom-right-radius: 5px;
}
